<template name="statuspage">

	
<div class="ui stackable grid">
	<div class="three column row">
		<div class="column center aligned">PlaceHolder Text</div>
		<div class="column center aligned"><div class="ui horizontal divider">{{status}}</div><div class= "circle " id='statusColor'></div></div>
		<div class="column center aligned" id='incidentTable'>
		{{#if incidentTable}}
			<div>Woooooo</div>
		{{else}}
		<div>A table will be rendered here showing the incidents</div>
		{{/if}}

		</div>
	</div>	
</div>



</template>