<template name="statuspage">
<div class="ui stackable grid">
	<div class="two column row center aligned">
		
		<div class="six wide column "><div class="ui horizontal divider">{{overallStatus}}</div> <div class="ui button subscribe">Stuff</div><div class= "circle " id='statusColor'></div></div>
		<div class="eight wide column " id='incidentTable'>
			{{#if incidentTable}}
			<table class="ui  red inverted celled striped table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>User 1</td>
						<td>Data</td>
						<td>Data</td>
					</tr>
					<tr>
						<td>User 3</td>
						<td>Data</td>
						<td>Data</td>
					</tr>
					<tr>
						<td>User 2</td>
						<td>Denied</td>
						<td>Data</td>
					</tr>
				</tbody>
				<tfoot>
				<tr>
					<th>Footer</th>
					<th>Footer</th>
					<th></th>
				</tr>
				</tfoot>
			</table>
			{{else}}
			<div><div class="ui horizontal divider">Cloud Services</div></div>
			<table class="ui  green inverted celled table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{{#each subServicesTable}}
					{{#if isOperational this}}
					<tr class="codeGreen">
						
						<td>{{name}}</td>
						<td>{{status}}</td>
					</tr>

					{{else}}
					<tr class="codeRed">
						
						<td>{{name}}</td>
						<td>{{status}}</td>
					</tr>

					{{/if}}
					{{/each}}
					
				</tbody>
				
			</table>
			
			{{/if}}
		</div>
	</div>
	<div class="row center aligned">
		<div class="fourteen wide column">
			{{#if incidentTable}}
			<h1>Current Incident:</h1>
			<table class="ui purple inverted celled striped  table">
				<thead>
					<tr>
						<th>Incident</th>
						<th>Impact</th>
						<th>Status</th>
						<th>Updated At</th>
					</tr>
				</thead>
				<tbody>
					{{#each currentIncidentEvents}}
					<tr>
						<td><a href="{{shortlink}}">{{name}}</a></td>
						<td>{{impact}}</td>
						<td>{{status}}</td>
						<td>{{updated_at}}</td>
					</tr>
					{{/each}}
					
				</tbody>
				
			</table>
			{{else}}
			<h1> During all recently reported incidents, Lifesize Cloud has maintained {{upTimeStatus}}% Performance</h1>
			{{/if}}
		</div>
	</div>
	<div class="one column row">
		<div class="one wide column"></div>
		<div class="fourteen wide column ">
			<div class="ui accordion">
				<div class="ui header title">
					<i class="dropdown icon"></i>
					Previous Incidents
				</div>
				<div class="content">
					<table class="ui purple inverted celled striped  table">
						<thead>
							<tr>
								<th>Incident</th>
								<th>Impact</th>
								<th>Status</th>
								<th>Resolved at</th>
							</tr>
						</thead>
						<tbody>
							{{#each incidentHistoryTable}}
							<tr>
								<td><a href="{{shortlink}}">{{name}}</a></td>
								<td>{{impact}}</td>
								<td>{{status}}</td>
								<td>{{resolved_at}}</td>
							</tr>
							{{/each}}
							
						</tbody>
						
					</table>
				</div>
				
			</div>
		</div>
	</div>

	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    Subscribe to Updates
	  </div>
	  <div class="content">
	    <div class="ui top attached tabular menu">
	        <a class="active item" data-tab="first"><i class="mail icon"></i></a>
	        <a class="item" data-tab="second"><i class="text telephone icon"></i></a>
	        <a class="item" data-tab="third"><i class="feed icon"></i></a>
	        
	      </div>
	    <div class="ui bottom attached active tab segment" data-tab="first">
	        Get email notifications whenever Lifesize Cloud creates or updates an incident. <br> <br>
	        <div class="ui form">
	        	<form>
	            <div class="inline field">
	              <label><strong>Email</strong></label>
	              <input class="emailField" type="text" placeholder="abc@123.com">
	            </div>
	            <div class="ui submit button emailCall">Submit</div>
	        </form>
	        </div>
	      </div>
	    <div class="ui bottom attached tab segment" data-tab="second">
	        Get SMS notifications whenever Lifesize Cloud creates or updates an incident. <br><br>
	        <div class="ui form">
	            <div class="inline field">
	              <label><strong>Phone Number</strong></label>
	              <input type="text" placeholder="512-555-5555">
	            </div>
	            <div class="ui submit button">Submit</div>
	        </div>
	      </div>
	    <div class="ui bottom attached tab segment" data-tab="third">
	        Get the <div class="ui button"><a href="http://status.lifesizecloud.com/history.atom">Atom Feed</a></div> or <div class="ui button"><a href="http://status.lifesizecloud.com/history.rss">RSS Feed</a></div>.
	        
	      </div>
	  </div>
	  
	</div>
	
</div>
</template>