<template name="adminPanel">
    <h1>Cloud Status Admin Panel</h1>
    {{#if currentUser}}
    <a href="/createIncident">Report an Incident / Update an Existing Incident</a> <br>
    <a href="/createMaint">Schedule Maintenance / Update Existing Scheduled Maintenance</a>
    
    {{/if}}
    <div class="login-wrapper {{animateClass}} animated">
        {{#if currentUser}}
        <div class="actions-wrapper">
            {{#if currentUser.username}}
            <div class="hello">Hi {{currentUser.username}}!</div>
            {{/if}}
            <div class="ui fluid purple log-out button">
                <i class="sign out icon"></i>
                Log out
            </div>
        </div>
        {{else}}
        {{> atForm }}
        {{/if}}
    </div>
    
  
</template>
